
body {
    .footer{ 
        padding: 0;
        margin: 0;
        min-height: 1px;
        width: 100%;
        width: 100vw;
        background: @color_blue_main;
        color: @color_white_main;
        z-index: 11111;
        .container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .box {
                flex: 1;
                margin: 5px 15px;
                padding: 10px 20px;
                min-width: 300px;    
            }
            .box h4 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: @font-size_main + 2px;
                color: @color_white_main; 
                text-transform: uppercase;
                letter-spacing: 1px;
                border-bottom: 2px solid @color_dlue_tone_four_main;
                position: relative;
                margin-bottom: 16px;
                transition: linear 0.2s; 
            }
            .box:hover h4 {
                color: @color_yellow_main;
                transition: linear 0.2s;
            }
            .box h4::before {
                content: "";
                width: 50%;
                height: 100%;
                border-bottom: 2px solid @color_yellow_main;
                position: absolute;
            }
            .box p {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: @font-size_main;
                padding-bottom: 5px;
            }
            .box .social {
                max-width: 280px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 5px;
            }
            .box .social a {
                text-decoration: none;
                display: inline-block;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: @font-size_main;
                transition: linear 0.2s;
            } 
            .box .social a i {
                background: @color_black_main;
                width: 45px;
                height: 40px;
                text-align: center;
                line-height: 37px;
                border-radius: 5px;
                border: 1px solid @color_dlue_tone_five_main;
                color: @color_dlue_tone_five_main;
                font-size: @font-size_main + 10px;
                transition: linear 0.2s;
            } 
            .box .social a:hover i {
                border: 1px solid @color_yellow_main; 
                color: @color_yellow_main;
                transition: linear 0.2s; 
            }
            .box .address a {
                display: block;
                text-decoration: none;
                width: 100%;
                height: 40px;
                line-height: 40px;
                padding-left: 55px;
                margin-bottom: 16px;
                color: @color_white_main;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: @font-size_main;
                transition: linear 0.2s;
            }
            .box .address a i {
                position: absolute;
                background: @color_black_main;
                width: 45px;
                height: 40px;
                text-align: center;
                line-height: 37px;
                margin-left: -55px;
                border-radius: 5px;
                border: 1px solid @color_dlue_tone_five_main;
                color: @color_dlue_tone_five_main;
                font-size: @font-size_main + 10px;
                transition: linear 0.2s;
            }
            .box .address a:hover {
                color: @color_yellow_main;
                transition: linear 0.2s;  
            } 
            .box .address a:hover i {
                border: 1px solid @color_yellow_main; 
                color: @color_yellow_main;
                transition: linear 0.2s; 
            } 
            .box form input, .box form textarea {
                width: 100%;
                min-height: 30px;
                border: none;
                outline: none;
                padding-left: 5px;
                margin-bottom: 10px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: @font-size_main;
                color: @color_black_main;
            } 
            .box form label {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: @font-size_main;
            }
            .box form label span {
                color: @color_dlue_tone_five_main;   
            }
            .box form button {
                width: 50%;
                height: 30px;
                border: none;
                outline: none;
                background: @color_black_main;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: @font-size_main;
                color: @color_dlue_tone_five_main;
                border: 1px solid @color_dlue_tone_five_main;
                border-radius: 3px;
                cursor: pointer;
                transition: linear 0.2s;  
            }
            .box form button:hover {
                border: 1px solid @color_yellow_main;
                color: @color_yellow_main;
                border-radius: 3px;
                transition: linear 0.2s;
            }        
        }
        .author {
            width: 100%;
            background: @color_black_main;
            text-align: center;
            padding: 5px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: @font-size_main;
            text-transform: uppercase;
            overflow: hidden;
            p {
                color: @color_white_main;
                .author-text-one {
                    color: @color_dlue_tone_five_main;  
                }
                .author-text-two {
                    color: @color_red_main;
                }
            }
        }
    }
}