


body {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    header {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 230px;
        // width: 100%;
        // max-width: 1260px;
        width: 100vw;
        justify-content: space-around;
        .headerOne {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 56px;
            width: 100%;
            // max-width: 1260px;
            width: 100vw;
            background: @color_blue_main;
            padding: 0px 15px 0px 15px;
            .wrapper {
                display: flex;
                // width: 60%;
                justify-content: space-between;
                margin-left: -5%;
                min-height: 1px;
                .mobile-menu {
                    max-width: 530px;
                    // width: 100%;
                    list-style: none;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    .mobile-menu-li {
                        .mobile-menu-a_one {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 400;
                            font-size: @font-size_main + 1px;
                            color: @color_white_main;
                            text-decoration: none;
                            padding: 9px 13px 9px 13px;
                            transition: linear 0.5s;
                        }
                        .mobile-menu-a_two {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 400;
                            font-size: @font-size_main + 1px;
                            color: @color_white_main;
                            text-decoration: none;
                            padding: 9px 13px 9px 13px;
                            transition: linear 0.5s;
                        }
                        .mobile-menu-a_one:hover {
                            transition: 0.5s linear;
                            color: @color_yellow_main;  
                        }
                        .mobile-menu-a_two:hover {
                            transition: 0.5s linear;
                            color: @color_yellow_main;  
                        }
                    }
                }
            }
            .language_selection {
                width: 210px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0px 2px 0px 2px;
                input {
                    display: none;    
                }
                input:checked + .label_flagua {
                    background-image: url("/images/flagua.jpg");
                    background-size: cover; 
                    border: none;
                    padding: 0 5px;    
                }
                input:checked + .label_flagru {
                    background-image: url("/images/flagru.jpg");
                    background-size: cover;
                    border: none;
                    padding: 0 6px;  
                }
                input:checked + .label_flageng {
                    background-image: url("/images/flageng.jpg");
                    background-size: cover;
                    border: none;
                    padding: 0 6px;
                }
                input:checked + label {
                    color: @color_white_main;
                    font-size: 0px;
                }
                label {
                    width: 67px;
                    height: 39px;
                    padding: 0 6px;
                    cursor: pointer;
                    border-radius: 3px;
                    display: inline-block;
                    margin: -1px 0px 0px 0px;
                    transition: 0.8s linear;  
                }
                .label_flagua {
                    background-image: url('../images/flagua.jpg');
                    background-repeat:no-repeat;
                    background-size: 70% 60%;
                    background-position: 55% 50%; 
                    transition: 0.8s linear;
                }
                .label_flagru {
                    background-image: url('../images/flagru.jpg');
                    background-repeat:no-repeat;
                    background-size: 70% 60%;
                    background-position: 55% 50%; 
                    transition: 0.8s linear;
                }
                .label_flageng {
                    background-image: url('../images/flageng.jpg');
                    background-repeat:no-repeat;
                    background-size: 70% 60%;
                    background-position: 55% 50%;  
                    transition: 0.8s linear;
                }
                label:hover  {
                    border: none;
                    background-size: 100%;
                    transition: 0.8s linear;
                }
            }
            .shopping_basket {
                padding: 0;
                margin: 0;
                height: 50px;
                min-width: 1px;
                margin-right: -5%;
                .cart {
                    padding: 2px 5px 2px 5px;
                    margin: 0px 0px;
                    transition: 0.5s linear;
                    .a_cart {
                        display: flex;
                        justify-content: center;
                        text-decoration: none;
                        .img_basket {
                            padding: 0;
                            margin: 0;
                            height: 44px;
                            width: 54px;
                            padding: 5px 0px 5px 5px;
                            border-radius: 3px;
                            filter: contrast(100%);
                            filter: brightness(1300%);
                            transition: 0.2s linear;  
                        }
                        .cart-block {
                            padding: 1px 2px;
                            margin: 0;
                            height: 44px;
                            width: 134px;
                            display: flex;
                            flex-wrap: wrap;
                            color: @color_white_main;
                            text-decoration: none;
                            font-family: 'Roboto', sans-serif;
                            font-size: @font-size_main - 2px;
                            font-weight: 400;
                            text-transform: uppercase;
                            margin-left: 5px;
                            transition: 0.5s linear;
                            .cart-block-one {
                                padding: 2px;
                                margin: 1px 0px 0px 0px;
                                height: 20px;
                                width: 130px;
                                transition: 1.0s linear;
                                display: flex;
                                align-items: left;
                                overflow: hidden;
                                transition: 0.5s linear;
                                span {
                                    color: @color_white_main;
                                    transition: 0.5s linear;
                                }
                            }
                            .cart-block-two {
                                padding: 2px;
                                margin: 1px 0px 0px 0px;
                                height: 20px;
                                width: 130px;
                                transition: 1.0s linear;
                                display: flex;
                                align-items: left;
                                overflow: hidden;
                                transition: 0.5s linear;
                                span {
                                    color: @color_white_main;
                                    transition: 0.5s linear;
                                }
                            }
                        }
                    }
                }
                .cart:hover .a_cart .cart-block .cart-block-one span {
                    cursor: pointer;
                    color: @color_yellow_main; 
                    transition: 0.5s linear;
                }
                .cart:hover .a_cart .cart-block .cart-block-two span {
                    cursor: pointer;
                    color: @color_yellow_main; 
                    transition: 0.5s linear;
                }
                .cart:hover .a_cart .img_basket {
                    cursor: pointer;
                    filter: brightness(250%);   
                    transition: 0.2s linear;
                }
            }
        }
    }
}