body {
    #main { 
        .page-cards-goods {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-width: 1260px;
            min-height: 1px;
            align-items: center;
            justify-content: center;            
            .page-cards-goods-wrapper {
                padding: 0;
                margin: 0; 
                width: 100%; 
                padding: 0 20px 0 20px;    
                .content1-description {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    min-height: 1px;
                    width: 100%;
                    max-width: 1260px;
                    align-items: center;
                    justify-content: center;                  
                    .content1-block-linear {
                        height: 3px;
                        width: 90%;
                        background: @color_linear_main;
                        margin: 0px 0px 40px 0px;
                    }
                    .content1-description-title {
                        color: @color_black_main;
                        text-transform: uppercase;
                        font-size: @font-size_main + 5px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 500;
                        letter-spacing: 0px;
                        word-spacing: 5px;
                        text-align: center;
                        padding-top: 0px;
                        border-bottom: 2px solid @color_blue_main;
                        position: relative;                       
                    }
                    .content1-description-title:before {
                        content: "";
                        width: 50%;
                        height: 100%;
                        border-bottom: 2px solid @color_yellow_main;
                        position: absolute;
                        left: 0;
                    }                  
                }
                .content2-cards-goods-base {
                    width: 100%;
                    min-height: 1px;
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    .content2-section-pfoto {
                        width: 100%;
                        width: 600px;
                        max-height: 730px;
                        padding: 0px;
                        .block-base-pfoto {
                            width: 100%;
                            max-height: 600px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;
                            border: 2px solid @color_linear_main;
                            img {
                                width: 100%;
                            }
                        }
                        .block-small-pfoto {
                            width: 100%;
                            height: 120px;
                            margin-top: 10px;
                            padding: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            border: 2px solid @color_linear_main;
                            .small-pfoto {
                                width: 100px;
                                height: 100px;
                                margin: 0px 5px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                overflow: hidden;
                                border: 2px solid @color_linear_main;
                                cursor: pointer;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                    .content3-section-sale {
                        width: 600px;
                        min-height: 1px;
                        margin-left: 10px;                        
                        .content3-section-sale-wrapper {
                            margin-top: 20px;
                            width: 100%;
                            min-height: 1px;                            
                            padding-bottom: 10px;                                                                                   
                            ul {
                                li {
                                    height: 30px;
                                    margin-top: 5px;
                                    line-height: 30px;
                                    height: 100%;
                                    list-style: none;
                                    min-width: 1px;                                    
                                    color: @color_black_main;
                                    font-size: 17px;
                                    font-family: 'Roboto', sans-serif;
                                    font-weight: 300;                
                                    text-transform: uppercase;
                                    padding-left: 10px;                                    
                                    p {
                                        span {
                                            padding-left: 10px;
                                            font-size: 17px;
                                            font-weight: 500;
                                            

                                        }
                                    }
                                }
                            }
                            .star {
                                width: 100%;  
                                height: 30px;
                                line-height: 30px;
                                margin-top: 20px;
                                margin-left: 20px;
                                // background: yellowgreen;
                                .fa-star {
                                    padding: 0;
                                    margin: 0;
                                    padding: 2px;
                                    color: @color_yellow_main;
                                    -webkit-text-stroke: 1px @color_blue_main;
                                    font-size: @font-size_main + 5px;
                                   
                                    vertical-align:middle;
                                    display:inline-block;

                                }
                            }
                            .products-section-buy {
                                margin-top: 10px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;                         
                                .content3-block-buy-cost {
                                    padding: 0;
                                    margin: 0;
                                    color: @color_blue_main;
                                    text-transform: uppercase;
                                    font-size: @font-size_main + 20px;
                                    font-family: 'Roboto', sans-serif;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    letter-spacing: 1px;
                                    word-spacing: 7px; 
                                    height: 45px;
                                    width: 220px;
                                    text-align: center;
                                    margin-top: 20px;
                                    p {
                                        position: relative;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        span {
                                            font-size: @font-size_main + 15px;
                                            font-family: 'Roboto', sans-serif;
                                            font-weight: 400;
                                        }
                                    }
                                }
                                .content3-block-buy-choice {
                                    margin-top: 30px;
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-around;
                                    .content3-block-buy-quantity {
                                        padding: 0;
                                        margin: 0;
                                        color: @color_blue_main;
                                        text-transform: uppercase;
                                        font-size: @font-size_main + 8px;
                                        font-family: 'Roboto', sans-serif;
                                        font-weight: 700;
                                        text-transform: uppercase;
                                        letter-spacing: 1px;
                                        word-spacing: 7px;   
                                        height: 45px;
                                        width: 120px;
                                        text-align: center;
                                        margin-top: 20px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        border: 1px solid @color_blue_main;
                                        a {
                                            text-decoration: none;
                                            width: 30px;
                                            .quantity-pieces-minus {
                                                height: 45px;
                                                line-height: 45px;
                                                width: 100%;
                                                background: @color_blue_main;
                                                i {
                                                    color: @color_white_main;
                                                    font-size: @font-size_main + 3px;
                                                }
                                                i:hover {
                                                    color: @color_yellow_main;
                                                }
                                            }
                                        }
                                        .quantity-pieces {
    
                                        }
                                        a {
                                            text-decoration: none;
                                            width: 30px;
                                            .quantity-pieces-plus {
                                                height: 45px;
                                                line-height: 45px;
                                                width: 100%;
                                                background: @color_blue_main;
                                                i {
                                                    color: @color_white_main;
                                                    font-size: @font-size_main + 3px;
                                                }
                                                i:hover {
                                                    color: @color_yellow_main;
                                                }
                                            }
                                        }
                                    }
                                    a {
                                        text-decoration: none;
                                        text-transform: uppercase;
                                        .content3-block-buy-card {
                                            color: @color_white_main;
                                            text-transform: uppercase;
                                            font-size: @font-size_main + 5px;
                                            font-family: 'Roboto', sans-serif;
                                            font-weight: 400;
                                            
                                            transition: linear 0.5s;
                                            height: 45px;
                                            width: 220px;
                                            background: @color_blue_main;
                                            line-height: 45px;
                                            text-align: center;
                                            margin-top: 20px;
                                            transition: linear 0.2s;
                                            // float: left;
                                        }
                                        .content3-block-buy-card :hover {
                                            color: @color_yellow_main;
                                            transition: linear 0.2s;     
                                        }
                                    }
                                }
                                
                               
                            }
                        }  
                    }
                }
                .content3-cards-goods-facts {
                    width: 100%;
                    min-height: 1px;
                    // max-height: 730px;
                    // background: rgb(252, 232, 253);
                    // background: rgb(247, 248, 248);
                    margin-top: 50px;
                    margin-bottom: 30px;
                    .ppp1 {
                        width: 100%;
                        min-height: 1px;
                        background: rgb(247, 248, 248);
                        margin-top: 20px;
                        .ppp1-w {
                            margin: 0;
                            padding: 0;
                            // padding-bottom: 1px;
                            // min-height: 1px;
                            // border-bottom: 1px solid gray;
                            .qqq {
                                margin-bottom: 20px;
                                .content1-description {
                                    padding: 0;
                                    margin: 0;
                                    display: flex;
                                    flex-direction: column;
                                    min-height: 1px;
                                    width: 100%;
                                    max-width: 1260px;
                                    align-items: center;
                                    justify-content: center;
                                   
                                    // .content1-block-linear {
                                    //     height: 3px;
                                    //     width: 90%;
                                    //     background: @color_linear_main;
                                    //     margin: 0px 0px 20px 0px;
                                    // }
                                    .content1-description-title {
                                        color: @color_black_main;
                                        text-transform: uppercase;
                                        font-size: @font-size_main + 3px;
                                        font-family: 'Montserrat', sans-serif;
                                        font-weight: 500;
                                        letter-spacing: 0px;
                                        word-spacing: 5px;
                                        text-align: center;
                                        padding-top: 0px;
                                        border-bottom: 2px solid @color_blue_main;
                                        position: relative;
                                    }
                                    .content1-description-title:before {
                                        content: "";
                                        width: 50%;
                                        height: 100%;
                                        border-bottom: 2px solid @color_yellow_main;
                                        position: absolute;
                                        left: 0;
                                    }
                                   
                                }
                            }
                            .ttt {
                                margin-top: 20px;
                                .text-ttt {
                                    font-family: 'Roboto', sans-serif;
                                    font-weight: 400;
                                    font-size: @font-size_main - 1px;
                                    letter-spacing: 0px;
                                    word-spacing: 3px;
                                    color: @color_black_main;
                                    text-transform: uppercase;
                                    text-decoration: none;
                                    text-indent: 20px;

                                }
                            }
                        }

                    }
                    .ppp2 {
                        width: 100%;
                        min-height: 1px;
                        // background: rgb(247, 248, 248);
                        margin-top: 20px;
                        
                        .ppp2-w {
                            margin: 0;
                            padding: 0;
                            // padding-bottom: 1px;
                            // min-height: 1px;
                            // border-bottom: 2px solid @color_linear_main;
                            .eee {
                                margin-bottom: 20px;
                                .content1-description {
                                    padding: 0;
                                    margin: 0;
                                    display: flex;
                                    flex-direction: column;
                                    min-height: 1px;
                                    width: 100%;
                                    max-width: 1260px;
                                    align-items: center;
                                    justify-content: center;
                                   
                                    // .content1-block-linear {
                                    //     height: 3px;
                                    //     width: 90%;
                                    //     background: @color_linear_main;
                                    //     margin: 0px 0px 20px 0px;
                                    // }
                                    .content1-description-title {
                                        color: @color_black_main;
                                        text-transform: uppercase;
                                        font-size: @font-size_main + 3px;
                                        font-family: 'Montserrat', sans-serif;
                                        font-weight: 500;
                                        letter-spacing: 0px;
                                        word-spacing: 5px;
                                        text-align: center;
                                        padding-top: 0px;
                                        border-bottom: 2px solid @color_blue_main;
                                        position: relative;
                                    }
                                    .content1-description-title:before {
                                        content: "";
                                        width: 50%;
                                        height: 100%;
                                        border-bottom: 2px solid @color_yellow_main;
                                        position: absolute;
                                        left: 0;
                                    }
                                   
                                }
                            }
                            .ul-wrapper {
                                width: 100%;
                                min-height: 1px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: center;
                                ul {
                                    margin: 0 0 0px 0;
                                    padding: 0px 0px;
                                    // display: flex;
                                   
                                    
                                    // max-width: 1260px;
                                    width: 100%;
                                    max-width: 1260px;
    
    
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    border-top: 1px solid @color_linear_main;
                                    border-right: 1px solid @color_linear_main;
                                    border-left: 1px solid @color_linear_main;
                                    border-bottom: 1px solid @color_linear_main;
                                   
                                    background: @color_linear_main * 1.14;
                                    // background: rgb(201, 202, 200);
                                    .iii1 {
                                        width: 100%;
                                        
                                        
                                        .text {
                                            font-family: 'Roboto', sans-serif;
                                            font-weight: 500;
                                            font-size: @font-size_main;
                                            letter-spacing: 0px;
                                            word-spacing: 3px;
                                            color: @color_black_main;
                                            text-transform: uppercase;
                                            text-decoration: none;
                                           
                                            // position: relative;
                                            // top: 50%;
                                            // transform: translateY(-50%);
    
                                        }
                                        
                                       
                                    }
                                    .iii2 {
                                        width: 100%;
                                        
                                        
                                        
                                        .text {
                                            font-family: 'Roboto', sans-serif;
                                            font-weight: 400;
                                            font-size: @font-size_main;
                                            letter-spacing: 0px;
                                            word-spacing: 3px;
                                            color: @color_black_main;
                                            text-transform: uppercase;
                                            text-decoration: none;
                                           
                                            // position: relative;
                                            // top: 50%;
                                            // transform: translateY(-50%);
    
                                        }
                                        
                                       
                                    }
                                    .iii {
                                        padding: 3px 0;
                                        margin: 0;
                                        padding-left: 10px;
                                        padding-right: 10px;
                                        // min-width: 1px;
                                        // width: 100%;///////////////////////==========
                                        // height: 35px;
                                        // height: 100%;
                                        min-height: 25px;
                                        line-height: 25px;
                                        list-style: none;
    
                                        
                                        
                                    }
                                }

                            }
                        }

                    }
                    .ppp3{
                        width: 100%;
                        min-height: 1px;
                        // background: rgb(247, 248, 248);
                        margin-top: 20px;
                        .ppp3-w {
                            margin: 0;
                            padding: 0;
                            // padding-bottom: 1px;
                            // min-height: 1px;
                            // border-bottom: 2px solid @color_linear_main;
                            
                            .eee {
                                margin-bottom: 20px;
                                

                                .content1-description {
                                    padding: 0;
                                    margin: 0;
                                    display: flex;
                                    flex-direction: column;
                                    min-height: 1px;
                                    width: 100%;
                                    max-width: 1260px;
                                    align-items: center;
                                    justify-content: center;
                                   
                                    // .content1-block-linear {
                                    //     height: 3px;
                                    //     width: 90%;
                                    //     background: @color_linear_main;
                                    //     margin: 0px 0px 20px 0px;
                                    // }
                                    .content1-description-title {
                                        color: @color_black_main;
                                        text-transform: uppercase;
                                        font-size: @font-size_main + 3px;
                                        font-family: 'Montserrat', sans-serif;
                                        font-weight: 500;
                                        letter-spacing: 0px;
                                        word-spacing: 5px;
                                        text-align: center;
                                        padding-top: 0px;
                                        border-bottom: 2px solid @color_blue_main;
                                        position: relative;
                                    }
                                    .content1-description-title:before {
                                        content: "";
                                        width: 50%;
                                        height: 100%;
                                        border-bottom: 2px solid @color_yellow_main;
                                        position: absolute;
                                        left: 0;
                                    }
                                   
                                }
                            }
                            .ul-wrapper {
                                width: 100%;
                                min-height: 1px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: center;
                                ul {
                                    margin: 0 0 0px 0;
                                    padding: 0px 0px;
                                    // display: flex;
                                   
                                    
                                    // max-width: 1260px;
                                    width: 100%;
                                    max-width: 1260px;
    
    
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    border-top: 1px solid @color_linear_main;
                                    border-right: 1px solid @color_linear_main;
                                    border-left: 1px solid @color_linear_main;
                                    border-bottom: 1px solid @color_linear_main;
                                   
                                    background: @color_linear_main * 1.14;
                                    // background: rgb(201, 202, 200);
                                    .iii1 {
                                        width: 100%;
                                        
                                        
                                        .text {
                                            font-family: 'Roboto', sans-serif;
                                            font-weight: 500;
                                            font-size: @font-size_main;
                                            letter-spacing: 0px;
                                            word-spacing: 3px;
                                            color: @color_black_main;
                                            text-transform: uppercase;
                                            text-decoration: none;
                                           
                                            // position: relative;
                                            // top: 50%;
                                            // transform: translateY(-50%);
    
                                        }
                                        
                                       
                                    }
                                    .iii2 {
                                        width: 100%;
                                        
                                        
                                        
                                        .text {
                                            font-family: 'Roboto', sans-serif;
                                            font-weight: 400;
                                            font-size: @font-size_main;
                                            letter-spacing: 0px;
                                            word-spacing: 3px;
                                            color: @color_black_main;
                                            text-transform: uppercase;
                                            text-decoration: none;
                                           
                                            // position: relative;
                                            // top: 50%;
                                            // transform: translateY(-50%);
    
                                        }
                                        
                                       
                                    }
                                    .iii {
                                        padding: 3px 0;
                                        margin: 0;
                                        padding-left: 10px;
                                        padding-right: 10px;
                                        // min-width: 1px;
                                        // width: 100%;///////////////////////==========
                                        // height: 35px;
                                        // height: 100%;
                                        min-height: 25px;
                                        line-height: 25px;
                                        list-style: none;
    
                                        
                                        
                                    }
                                }

                            }
                            
                        }

                    }
                }
                .content4-button {
                    width: 100%;
                    padding: 0px 0px 20px 0px;
                    min-height: 1px;
                    
                    .content4-button-wrapper {
                        .content4-description {
                            padding: 0;
                            margin: 0;
                            display: flex;
                            flex-direction: column;
                            min-height: 1px;
                            width: 100%;
                            max-width: 1260px;
                            align-items: center;
                            justify-content: center;
                           
                            // .content4-block-linear {
                            //     height: 3px;
                            //     width: 90%;
                            //     background: @color_linear_main;
                            //     margin: 0px 0px 20px 0px;
                            // }
                            .content4-description-title {
                                color: @color_black_main;
                                text-transform: uppercase;
                                font-size: @font-size_main + 3px;
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 500;
                                letter-spacing: 0px;
                                word-spacing: 5px;
                                text-align: center;
                                padding-top: 0px;
                                border-bottom: 2px solid @color_blue_main;
                                position: relative;
                            }
                            .content4-description-title:before {
                                content: "";
                                width: 50%;
                                height: 100%;
                                border-bottom: 2px solid @color_yellow_main;
                                position: absolute;
                                left: 0;
                            }
                           
                        }
                        .block-button {
                            width: 100%;
                            min-height: 1px;
                            margin-top: 10px;
                            display: flex;
                            justify-content: space-around;
                            .button-catalog-partslist {
                                background-image: url("../images/fon_parts_three.jpg");
                                background-size: cover; 
                                background-size: 300px 70px;
                                border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
                                border-radius: 4px;
                                border-style: solid;
                                border-width: 1px;
                                box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
                                text-decoration:none;
                                display:block;
                                color: @color_white_main;
                                text-transform: uppercase;
                                font-family: 'Roboto', sans-serif;
                                font-weight: 400;
                                font-size: @font-size_main;
                                letter-spacing: 0px;
                                word-spacing: 0px;
                                width: 300px;
                                line-height: 20px;
                                margin: 20px auto;
                                padding: 12px 12px;
                                text-align: center;
                                position: relative;
                                -webkit-transition-duration: 0.3s;
                                transition-duration: 0.3s;
                                -webkit-transition-property: -webkit-transform;
                                transition-property: transform;
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                                -webkit-transform: translateZ(0);
                                -ms-transform: translateZ(0);
                                transform: translateZ(0);
                                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                            }
                            .button-catalog-partslist:before {
                                pointer-events: none;
                                position: absolute;
                                z-index: -1;
                                content: '';
                                top: 100%;
                                left: 5%;
                                height: 10px;
                                width: 90%;
                                opacity: 0;
                                background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
                                background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
                                -webkit-transition-duration: 0.3s;
                                transition-duration: 0.3s;
                                -webkit-transition-property: -webkit-transform, opacity;
                                transition-property: transform, opacity;
                            }
                            .button-catalog-partslist:hover {
                                -webkit-transform: translateY(-5px);
                                -ms-transform: translateY(-5px);
                                transform: translateY(-5px);
                                color: @color_yellow_main;
                            }
                            .button-catalog-partslist:hover:before {
                                opacity: 1;
                                -webkit-transform: translateY(5px);
                                -ms-transform: translateY(5px);
                                transform: translateY(5px);
                            }

                        }
                    }   
                }
            }
        }
    }
}