
@media (min-width: 375px) and (max-width: 450px) {
    body {
        header {
            .headerTwo {
                .container_slider_css {
                    #logo { 
                        .logo_a {  
                            .title_logo { 
                                margin: 50px 0 0 10px;
                            } 
                        }
                    }
                    #search_search {
                        .search-box {
                            .search-txt {
                                min-width: 310px;  
                            }
                            .search-btn {
                                width: 55px; 
                            }
                                
                        }
                    }   
                }
            }
        }
    }  
}
@media (min-width: 300px) and (max-width: 374px) {
    body {
        header {
            .headerTwo {
                .container_slider_css {
                    #logo { 
                        .logo_a {  
                            .title_logo { 
                                margin: 50px 0 0 -18px;
                            } 
                        }
                    }
                    #search_search {
                        .search-box {
                            .search-txt {
                                min-width: 250px; 
                            }
                            .search-btn {
                                width: 45px; 
                            }
                                
                        }
                    }   
                }
            }
        }
    }  
}