

body {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    header {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 230px;
        width: 100%;
        max-width: 1260px;
        justify-content: space-around;
        // background: rgb(255, 0, 119);
        .headerThree-menu {
            font-family: 'K2D', sans-serif;
            font-weight: 400;
            height: 36px;
            max-width: 1260px;
            // background: rgb(211, 65, 65);
            background: #444;
            z-index: 44444;
            .dws-menu * {
                margin: 0;
                padding: 0;  
            }
            .dws-menu ul, .dws-menu ol {
                list-style: none;
            }
            .dws-menu > ul {
                display: flex;
                // justify-content: center;
                justify-content: space-around;
            }
            .dws-menu > ul  li a {
                display: block;
                background: #444;
                padding: 9px 30px 9px 40px;
                height: 36px;//////////////////// //////////////  ///////////////////
                font-size: 14px;
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                transition: all 0.5s ease;
                
            }
            .dws-menu > ul  li {
                position: relative;
            }
            .dws-menu > ul li > a .fas {
                position: absolute;
                top: 9px;
                left: 12px;
                font-size: 18px;
            }
            .dws-menu > ul li:first-child {
                border-left: 1px solid #b2b3b5;
                
            }
            .dws-menu > ul  li:last-child {
                border-right: 1px solid #babbbb;
            }
            .dws-menu li a:hover {
                color: #2e2c2c;
                background: rgb(216, 142, 5);
                // border: 1px solid rgb(216, 142, 5);
                // border-left: 6px solid rgb(216, 142, 5);
                // color: crimson;
                // box-shadow: 1px 5px 10px -1px black;
                transition: all 0.3s ease;
                // transition: 0.4s linear;
                
            }
            .dws-menu ul li ul li a:hover {
                border: 2px solid rgb(216, 142, 5);
                border-left: 6px solid rgb(216, 142, 5);
                background: #fff;
                color: #2e2c2c;
            }

            /////////
            .dws-menu  li ul {
                position: absolute;
                min-width: 250px;
                display: none;   
            }
            .dws-menu li > ul li {
                border: 1px solid #b8b8b8;
            }
            .dws-menu li > ul li a {
                text-transform: none;
                background: #444; /////////////////2 уровень фон
                text-transform: uppercase;
                font-size: 12px;
                padding-left: 5px;
                padding-right: 2px;    
            }
            .dws-menu li > ul li ul {
                position: absolute;
                right: -250px;
                top: 0;
            }
            .dws-menu li:hover > ul {
                display: block;
            }
            .dws-menu li > ul li ul  {
                
            }
            .dws-menu li > ul li ul li a {
                background: rgb(131, 131, 131);//////////////////////////////////////// 3 уровень вон /////////////
                border-left: 7px solid crimson;
                border-bottom: 2px solid crimson;
                border-top: 2px solid crimson;
                border-right: 2px solid crimson;
                
            }
        } 
    }
}