

body {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    header {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 230px;
        width: 100%;
        max-width: 1260px;
        justify-content: space-around;
        // background: rgb(255, 0, 119);
        .header-bread-crumbs {
            display: flex;
            align-items: center;
            min-height: 25px;
            // width: 100%;
            max-width: 1260px;
           
            // background: rgb(136, 136, 136);
            background: #222;
            opacity: 0.5;
            // border-top: 2px solid rgb(109, 109, 109);
            // border-bottom: 2px solid rgb(109, 109, 109);
            padding-left: 15px; //
            padding-right: 15px; //
            padding-top: 5px;
            padding-bottom: 5px;
            .text-header-bread-crumbs {
                font-family: 'K2D', sans-serif;
                font-weight: 200;
                font-size: 13px;
                color: rgb(255, 255, 255);
               
                text-transform: uppercase;
            }
        }
    }
}