
@media all and (max-width: 598px) {
    body {
        .main-footer{ 
            .container {
                .box {
                    margin: 0px 0px;
                    padding: 5px 10px;   
                }
                .box h4 {
                    font-size: @font-size_main;
                }
                .box p {
                    font-size: @font-size_main - 2px;
                }
                .box a {
                    font-size: @font-size_main - 3px;
                } 
                .box .address a {
                    font-size: @font-size_main - 1px;
                }
                .box form input, .box form textarea {
                    font-size: @font-size_main - 2px;
                } 
                .box form label {
                    font-size: @font-size_main - 2px;
                }
                .box form button {
                    font-size: @font-size_main - 3px;
                }     
            }
            .author {
                font-size: @font-size_main - 3px;
            }
        }
    }
}




































































































































































