@media (min-width: 540px) and (max-width: 760px) {
    body {
        #main { 
            .helpful {
                .helpful-description {
                    .helpful-title{
                        font-size: @font-size_main + 8px;
                    }
                    .helpful-text {   
                        padding: 20px 15px 0px 15px;
                        font-size: @font-size_main - 2px;
                    }
                }
                .helpful-section {
                    .helpful-section-menu {
                        a .menu-block-text {
                            .helpful-menu-text {
                                font-size: @font-size_main - 2px;
                            }
                        }     
                    }
                }
            }
        }
    }
}

@media all and (max-width: 539px) {
    body {
        #main { 
            .helpful {
                .helpful-description {
                    .helpful-title{
                        font-size: @font-size_main + 6px;
                    }
                    .helpful-text {   
                        padding: 20px 15px 0px 15px;
                        font-size: @font-size_main - 4px;
                    }
                }
                .helpful-section {
                    .helpful-section-menu {
                        a .menu-block-text {
                            .helpful-menu-text {
                                font-size: @font-size_main - 3px;
                            }
                        }     
                    }
                }
            }
        }
    }
}