@media (min-width: 540px) and (max-width: 760px) {
    @font-size_main: 15px;
    body {
        #main { 
            .page-cards-goods {
                .page-cards-goods-wrapper {
                    padding: 0 10px 0 10px;    
                    .content1-description {
                        .content1-block-linear {
                            margin: 0px 0px 40px 0px;
                        }
                        .content1-description-title {
                            font-size: @font-size_main + 5px;
                        }  
                    }
                    .content2-cards-goods-base {
                        display: flex;
                        flex-direction: column;/* */
                        align-items: center;/* */
                        justify-content: center;
                        .content2-section-pfoto {
                            width: 100%;
                            max-width: 600px;
                            max-height: 730px;
                        }
                        .content3-section-sale {
                            width: 100%;/* */
                            margin-left: 0px;/* */
                            .content3-section-sale-wrapper {
                                ul {
                                    padding: 25px 40px 15px 0px;
                                    li {
                                        p {
                                            font-size: @font-size_main;
                                            span {
                                                font-size: @font-size_main;
                                            }
                                        }
                                    }
                                }
                                .star {
                                    margin-left: 0px;
                                    display: flex;
                                    justify-content: center;
                                    .fa-star {
                                        -webkit-text-stroke: 1px @color_blue_main;
                                        font-size: @font-size_main + 3px;
                                    }
                                }
                                .products-section-buy {
                                    margin-top: 0px;
                                    .content3-block-buy-cost {  
                                        p {
                                            font-size: @font-size_main + 15px;
                                            span {
                                                font-size: @font-size_main + 15px;
                                            }
                                        }
                                    }
                                    .content3-block-buy-choice {
                                        margin-top: 20px;
                                        width: 100%;
                                        display: flex;
                                        flex-direction: column;/* */
                                        align-items: center;/* */
                                        justify-content: center;/* */
                                        .content3-block-buy-quantity {
                                            a {
                                                .quantity-pieces-minus {
                                                    i {
                                                        font-size: @font-size_main;
                                                    }
                                                }
                                            }
                                            .quantity-pieces {
                                                p {
                                                    font-size: @font-size_main + 5px; 
                                                }
                                            }
                                            a {
                                                .quantity-pieces-plus {
                                                    i {
                                                        font-size: @font-size_main;
                                                    }
                                                }
                                            }
                                        }
                                        a {
                                            .content3-block-buy-card {
                                                margin-top: 30px;
                                               
                                                p {
                                                    font-size: @font-size_main + 5px;
                                                }
                                            }
                                        }
                                    }                  
                                }
                            }  
                        }
                    }
                    .content3-product-card-detail {
                        .section-description {
                            .section-description-wrapper {
                                .description {
                                    .description-title {
                                        .title {
                                            font-size: @font-size_main + 3px;
                                        }                                      
                                    }
                                    .description-text {
                                        .text {
                                            font-size: @font-size_main;
                                        }
                                    }
                                }
                            }
                        }
                        .section-characteristics {
                            width: 100%;
                            min-height: 1px;
                            margin-top: 20px;
                            .section-characteristics-wrapper {
                                .characteristics {
                                    .characteristics-title {
                                        .title {
                                            font-size: @font-size_main + 3px;
                                        }
                                    }
                                }
                                .characteristics-block-wrapper {
                                    .characteristics-block {
                                        .subblock {
                                            .subblock1-text {
                                                font-size: @font-size_main;
                                            }
                                            .subblock2-text {
                                                font-size: @font-size_main;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .section-application {
                            .section-application-wrapper {
                                .application {
                                    .application-title {
                                        .title {
                                            font-size: @font-size_main + 3px;
                                        }
                                    }
                                }
                                .application-block-wrapper  {
                                    .application-block {
                                        display: flex;
                                        .subblock {
                                            .subblock1-text {
                                                font-size: @font-size_main;
                                            }
                                            .subblock2-text {
                                                font-size: @font-size_main;
                                            }    
                                        }
                                    }
                                }
                            }
                        }   
                    }
                }
            }
        }
    }
}

@media all and (max-width: 539px) {
    @font-size_main: 13px;
    body {
        #main { 
            .page-cards-goods {
                .page-cards-goods-wrapper {
                    padding: 0 10px 0 10px;    
                    .content1-description {
                        .content1-block-linear {
                            margin: 0px 0px 40px 0px;
                        }
                        .content1-description-title {
                            font-size: @font-size_main + 5px;
                        }  
                    }
                    .content2-cards-goods-base {
                        display: flex;
                        flex-direction: column;/* */
                        align-items: center;/* */
                        justify-content: center;
                        .content2-section-pfoto {
                            width: 100%;
                            max-width: 600px;
                            max-height: 730px;
                        }
                        .content3-section-sale {
                            width: 100%;/* */
                            margin-left: 0px;/* */
                            .content3-section-sale-wrapper {
                                ul {
                                    padding: 25px 40px 15px 0px;
                                    li {
                                        p {
                                            font-size: @font-size_main;
                                            span {
                                                font-size: @font-size_main;
                                            }
                                        }
                                    }
                                }
                                .star {
                                    margin-left: 0px;
                                    display: flex;
                                    justify-content: center;
                                    .fa-star {
                                        -webkit-text-stroke: 1px @color_blue_main;
                                        font-size: @font-size_main + 3px;
                                    }
                                }
                                .products-section-buy {
                                    margin-top: 0px;
                                    .content3-block-buy-cost {  
                                        p {
                                            font-size: @font-size_main + 15px;
                                            span {
                                                font-size: @font-size_main + 15px;
                                            }
                                        }
                                    }
                                    .content3-block-buy-choice {
                                        margin-top: 20px;
                                        width: 100%;
                                        display: flex;
                                        flex-direction: column;/* */
                                        align-items: center;/* */
                                        justify-content: center;/* */
                                        .content3-block-buy-quantity {
                                            a {
                                                .quantity-pieces-minus {
                                                    i {
                                                        font-size: @font-size_main;
                                                    }
                                                }
                                            }
                                            .quantity-pieces {
                                                p {
                                                    font-size: @font-size_main + 5px; 
                                                }
                                            }
                                            a {
                                                .quantity-pieces-plus {
                                                    i {
                                                        font-size: @font-size_main;
                                                    }
                                                }
                                            }
                                        }
                                        a {
                                            .content3-block-buy-card {
                                                margin-top: 30px;
                                               
                                                p {
                                                    font-size: @font-size_main + 5px;
                                                }
                                            }
                                        }
                                    }                  
                                }
                            }  
                        }
                    }
                    .content3-product-card-detail {
                        .section-description {
                            .section-description-wrapper {
                                .description {
                                    .description-title {
                                        .title {
                                            font-size: @font-size_main + 3px;
                                        }                                      
                                    }
                                    .description-text {
                                        .text {
                                            font-size: @font-size_main;
                                        }
                                    }
                                }
                            }
                        }
                        .section-characteristics {
                            width: 100%;
                            min-height: 1px;
                            margin-top: 20px;
                            .section-characteristics-wrapper {
                                .characteristics {
                                    .characteristics-title {
                                        .title {
                                            font-size: @font-size_main + 3px;
                                        }
                                    }
                                }
                                .characteristics-block-wrapper {
                                    .characteristics-block {
                                        .subblock {
                                            .subblock1-text {
                                                font-size: @font-size_main;
                                            }
                                            .subblock2-text {
                                                font-size: @font-size_main;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .section-application {
                            .section-application-wrapper {
                                .application {
                                    .application-title {
                                        .title {
                                            font-size: @font-size_main + 3px;
                                        }
                                    }
                                }
                                .application-block-wrapper  {
                                    .application-block {
                                        display: flex;
                                        .subblock {
                                            .subblock1-text {
                                                font-size: @font-size_main;
                                            }
                                            .subblock2-text {
                                                font-size: @font-size_main;
                                            }    
                                        }
                                    }
                                }
                            }
                        }   
                    }
                }
            }
        }
    }
}