@media (min-width: 200px) and (max-width: 760px) {
    body {
        #main { 
            .page-cards-goods {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                max-width: 1260px;
                min-height: 1px;
                // padding-left: 10px;
                align-items: center;
                justify-content: center;
                
                .page-cards-goods-wrapper {
                    padding: 0;
                    margin: 0; 
                    width: 100%; 
                    padding: 0 20px 0 20px;    
                    .content1-description {
                        padding: 0;
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        min-height: 1px;
                        width: 100%;
                        max-width: 1260px;
                        align-items: center;
                        justify-content: center;
                       
                        .content1-block-linear {
                            height: 3px;
                            width: 90%;
                            background: @color_linear_main;
                            margin: 0px 0px 20px 0px;
                        }
                        .content1-description-title {
                            color: @color_black_main;
                            text-transform: uppercase;
                            font-size: @font-size_main + 7px;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 500;
                            letter-spacing: 0px;
                            word-spacing: 5px;
                            text-align: center;
                            padding-top: 0px;
                            border-bottom: 3px solid @color_blue_main;
                            position: relative;
                        }
                        .content1-description-title:before {
                            content: "";
                            width: 50%;
                            height: 100%;
                            border-bottom: 3px solid @color_yellow_main;
                            position: absolute;
                            left: 0;
                        }
                       
                    }
                    .content2-cards-goods-base {
                        width: 100%;
                        // height: 720px;
                        // height: 50vw;
    
    
                        // max-height: 730px;
                        min-height: 1px;
    
    
    
                        background: rgb(184, 207, 138);
                        margin-top: 30px;
                        display: block;
                        display: flex;
                        // // justify-content: space-between;//////////////////===========1111111
                        flex-direction: column;//////////////////////////=============11111111111
                        align-items: center;////////////////////////==================1111111111
                        justify-content: center;
                        // justify-content: space-around;////////////////////////============11
                       ///////////////////////////////////////////////////////////////////////////////
                        .content2-section-pfoto {
                            // width: 50%;///////////////////////////////============
                           
                            // width: 600px;
                            width: 100%;
                            // height: 100%;
                            max-width: 600px;


                            // min-height: 1px;
                            max-height: 730px;



                            background: rgb(255, 0, 64);
                            padding: 0px;
                            .block-base-pfoto {
                                width: 100%;
                                max-height: 600px;
                                
                            
                                background: rgb(50, 130, 205);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                overflow: hidden;
                                
 
                               
                                img {
                                    
                                    width: 100%;
                                    
                                    
                                   
                                    
                                   
                                    
                                    
                                    
                                    // min-height: 100%;
                                    // min-width: 100%;
                                    // width: auto;
                                    // height: auto;
                                    // max-width: none;
                                    // max-height: none;
                                    // display: block;
                                    // position: relative;
                                    // top: 50%;
                                    // left: 50%;
                                    // transform: translate(-50%, 0%);
                                
                                    
                                }
                            }
                            .block-small-pfoto {
                                width: 100%;
                                height: 120px;
                                background: rgb(205, 50, 184);
                                margin-top: 10px;
                                padding: 5px;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                .small-pfoto {
                                    width: 100px;
                                    height: 100px;
                                    margin: 0px 5px;
                                    // background: yellow;
                                    cursor: pointer;
                                    
                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                        ///////////////////////////////////////////////////////////////////////////
                        ///////////////////////////////////////////////////////////////////////////////////
                        .content3-section-sale {
                            
                            // width: 600px;/////////////////////////////================11111
                            width: 100%;///////////////////////////////////===============1111 7777
                            // height: 100px;
                            min-height: 1px;
                            background: rgb(207, 166, 138);
                            // margin-left: 10px;////////////////////////////////===================11111
                            margin-left: 0px;///////////////////////////////////====================111111
                            .content3-section-sale-wrapper {
                                margin-top: 20px;
                                width: 100%;
                                min-height: 1px;
                                
                                background: yellow;
                                padding-bottom: 10px;
                                
    
                               
                                
                                ul {
                                    // display: flex;
                                    // align-items: center;
                                    // min-height: 25px;
                                    // max-width: 1260px;
                                    // padding: 15px 40px 15px 40px;
                                    li {
                                        // list-style: none;
                                        height: 30px;
                                        margin-top: 5px;
                                        background: rgb(255, 166, 0);
    
                                        line-height: 30px;
                                        height: 100%;
                                        list-style: none;
                                        // float: left;
                                        min-width: 1px;
                                        
                                        color: black;
                                        font-size: 17px;
                                        font-family: 'Roboto', sans-serif;
                                        font-weight: 400;
                    
                                        text-transform: uppercase;
                                        padding-left: 10px;
                                        
                                        p {
                                            // text-indent: 10px; 
                                            span {
                                                font-size: 17px;
                                                font-weight: 500;
                                                
    
                                            }
                                        }
                                    }
                                }
                                .products-section-buy {
                                                    margin-top: 0px;
                                                    display: flex;
                                                    flex-direction: column;
                                                    align-items: center;
                                                    justify-content: center;
                                                   
                                                    .content3-block-buy-cost {
                                                        padding: 0;
                                                        margin: 0;
                                                        color: @color_dlue_dark_main;
                                                        text-transform: uppercase;
                                                        font-size: @font-size_main + 20px;
                                                        font-family: 'Roboto', sans-serif;
                                                        font-weight: 700;
                                                        text-transform: uppercase;
                                                        letter-spacing: 1px;
                                                        word-spacing: 7px;
                                                        
                                                        height: 45px;
                                                        width: 220px;
                                                        background: rgb(4, 110, 9);
                                                        background: @color_linear_main;
                                                        text-align: center;
    
                                                        margin-top: 40px;
                                                        p {
                                                            position: relative;
                                                            top: 50%;
                                                            transform: translateY(-50%);
                                                            span {
                                                                font-size: @font-size_main + 15px;
                                                                font-family: 'Roboto', sans-serif;
                                                                font-weight: 400;
                                                            }
                                                        }
                                                    }
                                                     ////////////////////////////////////////////
                                                     .content3-block-buy-quantity {
                                                        padding: 0;
                                                        margin: 0;
                                                        color: @color_dlue_dark_main;
                                                        text-transform: uppercase;
                                                        font-size: @font-size_main + 5px;
                                                        font-family: 'Roboto', sans-serif;
                                                        font-weight: 700;
                                                        text-transform: uppercase;
                                                        letter-spacing: 1px;
                                                        word-spacing: 7px;
                                                        
                                                        height: 45px;
                                                        width: 220px;
                                                        background: rgb(4, 110, 9);
                                                        background: @color_linear_main;
                                                        text-align: center;
    
                                                        margin-top: 20px;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: space-between;
                                                        a {
                                                            text-decoration: none;
                                                            width: 50px;
                                                            .quantity-pieces-minus {
                                                                height: 45px;
                                                                line-height: 45px;
                                                                width: 100%;
                                                                background: rgb(50, 205, 102);
                                                                i {
                                                                    color: @color_dlue_dark_main;
                                                                }
        
                                                            }
                                                        }
                                                        .quantity-pieces {
    
                                                        }
                                                        a {
                                                            text-decoration: none;
                                                            width: 50px;
                                                            .quantity-pieces-plus {
                                                                height: 45px;
                                                                line-height: 45px;
                                                                width: 100%;
                                                                background: rgb(50, 205, 102);
                                                                i {
                                                                    color: @color_dlue_dark_main;
                                                                }
        
                                                            }
                                                        }
                                                    }
                                                    ///////////////////////////////////////////////////
                                                    a {
                                                        text-decoration: none;
                                                        text-transform: uppercase;
                                                        
                                                        .content3-block-buy-card {
                                                            color: @color_white_main;
                                                            text-transform: uppercase;
                                                            font-size: @font-size_main + 5px;
                                                            font-family: 'Roboto', sans-serif;
                                                            font-weight: 400;
                                                            text-transform: uppercase;
                                                            transition: linear 0.5s;
                                                            height: 45px;
                                                            width: 220px;
                                                            background: @color_blue_main;
                                                            line-height: 45px;
                                                            text-align: center;
                                                            margin-top: 20px;
                                                            transition: linear 0.2s;
                                                        }
                                                        .content3-block-buy-card :hover {
                                                            color: @color_yellow_main;
                                                            transition: linear 0.2s;
                                                            
                                                        }
                                                    }
                                                    a {
                                                        text-decoration: none;
                                                        text-transform: uppercase;
                                                        
                                                        .content3-block-buy-cry {
                                                            color: @color_white_main;
                                                            text-transform: uppercase;
                                                            font-size: @font-size_main + 3px;
                                                            font-family: 'Roboto', sans-serif;
                                                            font-weight: 400;
                                                            text-transform: uppercase;
                                                            transition: linear 0.5s;
                                                            height: 45px;
                                                            width: 220px;
                                                            background: @color_blue_main;
                                                            line-height: 45px;
                                                            text-align: center;
                                                            margin-top: 20px;
                                                            transition: linear 0.2s;
                                                        }
                                                        .content3-block-buy-cry :hover {
                                                            color: @color_yellow_main;
                                                            transition: linear 0.2s;
                                                            
                                                        }
                                                    }
                                                }
                            }  
                        }
                    }
                    .content3-cards-goods-facts {
                        width: 100%;
                        min-height: 1px;
                        max-height: 730px;
                        background: rgb(208, 145, 212);
                        margin-top: 20px;
                        margin-bottom: 30px;
                        .ppp1 {
                            width: 100%;
                            height: 100px;
                            background: rgb(167, 61, 102);
                            margin-top: 20px;
    
                        }
                        .ppp2 {
                            width: 100%;
                            min-height: 1px;
                            background: rgb(247, 248, 248);
                            margin-top: 20px;
                            
                            .ppp2-w {
                                margin: 0;
                                padding: 0;
                                // min-height: 1px;
                                .eee {
                                    .content1-description {
                                        padding: 0;
                                        margin: 0;
                                        display: flex;
                                        flex-direction: column;
                                        min-height: 1px;
                                        width: 100%;
                                        max-width: 1260px;
                                        align-items: center;
                                        justify-content: center;
                                       
                                        .content1-block-linear {
                                            height: 3px;
                                            width: 90%;
                                            background: @color_linear_main;
                                            margin: 0px 0px 20px 0px;
                                        }
                                        .content1-description-title {
                                            color: @color_black_main;
                                            text-transform: uppercase;
                                            font-size: @font-size_main + 0px;
                                            font-family: 'Montserrat', sans-serif;
                                            font-weight: 500;
                                            letter-spacing: 0px;
                                            word-spacing: 5px;
                                            text-align: center;
                                            padding-top: 0px;
                                            border-bottom: 2px solid @color_blue_main;
                                            position: relative;
                                        }
                                        .content1-description-title:before {
                                            content: "";
                                            width: 50%;
                                            height: 100%;
                                            border-bottom: 2px solid @color_yellow_main;
                                            position: absolute;
                                            left: 0;
                                        }
                                       
                                    }
                                }
                                ul {
                                    margin: 0;
                                    padding: 5px 0px;
                                    // display: flex;
                                   
                                    
                                    max-width: 1260px;
    
    
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    border-bottom: 1px solid gray;
                                    
                                    .iii {
                                        padding: 0;
                                        margin: 0;
                                        padding-left: 10px;
                                        padding-right: 10px;
                                        // min-width: 1px;
                                        width: 100%;
                                        // height: 35px;
                                        // height: 100%;
                                        min-height: 25px;
                                        line-height: 25px;
                                        
                                        // margin-bottom: 15px;
                                        
                                        
                                        
    
                                        list-style: none;
                                        .text {
                                            font-family: 'Roboto', sans-serif;
                                            font-weight: 400;
                                            font-size: @font-size_main - 3px;
                                            letter-spacing: 0px;
                                            word-spacing: 3px;
                                            color: @color_black_main;
                                            text-transform: uppercase;
                                            text-decoration: none;
                                           
                                            // position: relative;
                                            // top: 50%;
                                            // transform: translateY(-50%);
    
                                        }
                                    }
                                }
                            }
    
                        }
                        .ppp3{
                            width: 100%;
                            height: 200px;
                            background: rgb(61, 167, 61);
                            margin-top: 20px;
    
                        }
                    }
                }
            }
        }
    }
}