@media all and (max-width: 599px) {
    body {
        #main { 
            .helpful {
                .helpful-description {
                    .helpful-title{
                        font-size: @font-size_main + 8px;//////////////////////////  
                    }
                    .helpful-text {   
                        padding: 20px 15px 0px 15px;///////////////////////////////
                        font-size: @font-size_main - 3px;///////////////////////////////
                    }
                }
                .helpful-section {
                    .helpful-section-menu {
                        a .menu-block-text {
                            .helpful-menu-text {
                                font-size: @font-size_main - 3px;////////////////////////
                            }
                        }     
                    }
                }
            }
        }
    }
}